---
import Acordion from "@components/Acordion.astro";
import SectionContainer from "@components/SectionContainer.astro";
---

<SectionContainer>
    <p class="h2 text-center mb-6">Preguntas Frecuentes</p>
    <Acordion />    
</SectionContainer>    


